*
!.gitignore
!t1/
!t1/country/
!t1/country/*.txt
!t1/vless/
!t1/vless/*.txt
!t1/vless_top/
!t1/vless_top/*.txt
!t1/working.txt
!t1/working_all.txt
!t1/country_matched.txt
!t1_tor/
!t1_tor/tor_bridges.txt
!t1_tor/tor_bridges_plain.txt
!t2/
!t2/country/
!t2/country/*.txt
!t2/working_all.txt
!t3/
!t3/country/
!t3/country/*.txt
!t3/working_all.txt
proxy*.log*
metrics.txt
final-xray.json
uptime.txt
stats/
